<legend>Thing</legend>
<p>
  <%= link_to 'Create Random thing', things_create_random_path %> |
  <%= link_to 'Destroy All', things_destroy_all_path %> |
  <%= link_to 'Refresh', root_path %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.name %></td>
        <td><%= thing.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>
<div>Default style</div>
<%== pagy_info(@pagy) %>
<%== pagy_nav(@pagy) %>

<hr/>
<div>Bootstrap style</div>
<div>
  <%= @pagy.from %> - <%= @pagy.to %> / <%= @pagy.count %>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
<%== render partial: 'templates/nav', locals: {pagy: @pagy} %>
